.carousel {
    position: relative;
}

.box_carousel {
    background: black;
    width: 790px;
    height: 510px;
    margin-bottom: 3rem;
}

.slider-box {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.slides {
    width: 600px;
    height: auto;
    overflow: hidden;
    display: flex;
}

.navigation {
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 125px;
}

li>img {
    padding-bottom: 1rem;
}

.slide {
    transition: all .6s ease;
}

#s1:checked~.m-l {
    margin-left: 0;
}

#s2:checked~.m-l {
    margin-left: -100%;
}

#s3:checked~.m-l {
    margin-left: -200%;
}

#s4:checked~.m-l {
    margin-left: -300%;
}

#s5:checked~.m-l {
    margin-left: -400%;
}

#l1:checked~.m-l {
    background: white;
    border: solid 1px rgb(53, 115, 139);
}

#l2:checked~.m-l {
    background: white;
    border: solid 1px rgb(53, 115, 139);
}

#l3:checked~.m-l {
    background: white;
    border: solid 1px rgb(53, 115, 139);
}

#l4:checked~.m-l {
    background: white;
    border: solid 1px rgb(53, 115, 139);
}

#l5:checked~.m-l {
    background: white;
    border: solid 1px rgb(53, 115, 139);
}



#s1:checked~.slide .sp1 {
    transition: all 6s ease;
    color: rgb(160, 112, 41);
}

#s2:checked~.slide .sp2 {
    transition: all 6s ease;
    color: rgb(160, 112, 41);

}

#s3:checked~.slide .sp3 {
    transition: all 6s ease;
    color: rgb(160, 112, 41);
}

#s4:checked~.slide .sp4 {
    transition: all 6s ease;
    color: rgb(160, 112, 41);
}

#s5:checked~.slide .sp5 {
    transition: all 6s ease;
    color: rgb(160, 112, 41);
}